{
	"presets": [
		["env", {
			"targets": {
				"browsers": ["> 5%", "last 12 versions", "not ie <= 8"]
			}
		}],
		"stage-0"
	],
	"plugins": ["transform-runtime"],
	"env": {
		"test": {
			"presets": ["env", "stage-2"],
			"plugins": [ "istanbul" ]
		}
	}
}
