@reset-global pc
// @import './../../node_modules/element-ui/lib/theme-default/index.css'
// src/styles/element-variables.scss
// @import './../styles/element-variables.scss'
@import './../styles/vars.styl'
@import './../styles/grid.styl'
@import './../styles/override.styl'



body, html
	// font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 	"Helvetica", "Arial", sans-serif
	font-family: "PT Sans", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 	"Helvetica", "Arial", sans-serif
	/*font-family: 'Roboto Condensed', sans-serif*/
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-weight: 400
	font-size: 14px
	// font-size: 100%
	// letter-spacing: 0.5px
	height: 100%
	width: 100%
	box-sizing: border-box
	// background: $Dark_White
	color: $Extra_Light_Black
	overflow: hidden

*, *:before, *:after
	box-sizing: inherit

// p, span, i
// 	line-height: 1
// 	font-size: 14px

h1
	font-size: 2rem
	line-height: 2.5rem
h2
	font-size: 1.75rem
	line-height: 2.25rem
h3
	font-size: 1.5rem
	line-height: 2rem
h4
	font-size: 1.2rem
	line-height: 1.4rem
h5
	font-size: 1rem
h6
	font-size: 0.8rem

a
	color: $Extra_Light_Black
	&:hover
		color: $blue

.text-muted
	color: $Light_Silver

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////

#app
	display: flex
	width: 100vw
	height: 100vh
	overflow: hidden


nav#left
	width: 100px
	height: 100vh
	flex: 0 0 100px
	// border-right: 1px solid #383d4b
	box-shadow: inset -1px 0 1px #383d4b, 0px 0 5px hsla(224, 15%, 15%, 1)
	z-index: 2
	background: $rock_light
	will-change: transform
	// background-image: url("~@/assets/dirt.png")
	overflow-y: scroll
	overflow-x: hidden


	+sm()
		width: 100vw
		flex: 0 0 100%
		box-shadow: none
		transition: 400ms
		transform: translate3d(0vw, -100vh, 0)
		// will-change: transform
		top: 0
		left: 0
		position: absolute
		opacity: 0.5

		&.opened
			// will-change: transform
			opacity: 1
			transform: translate3d(0vw, 0vh, 0)


	.logo-row
		display: flex
		height: 80px
		font-size: 2em
		height: 80px
		align-items: center
		justify-content: space-between
		.logo
			text-shadow: 1px 0 0px #000
			padding: 25px
			margin: 0 auto
			+sm()
				margin: 0
		span
			color: #fff
			display: none
			+sm()
				display: block
		.close-btn
			font-size: 1em
			color: #fff
			position: relative
			display: none
			// height: 40px
			// width: 40px
			// padding: 25px
			margin-right: 20px
			// font-weight: bold
			+sm()
				display: block

	hr
		margin: 0 10px
		border: none
		border-top: 1px solid #23262f
		border-bottom: 1px solid #383d4c

.left-menu
	display: flex
	flex-direction: row
	flex-wrap: wrap
	& > *
		width: 100%
		+sm()
			width: calc(25% - 20px)
			margin: 10px
		+xs()
			width: calc(50% - 20px)


nav#left-secondary
	// flex: 0 0 0
	flex: 0.0001 1 0px
	// width: 0
	// z-index: 22
	overflow: hidden
	transition: flex .35s ease
	// width: 0
	height: 100vh
	// transition: 400ms, transform 100ms
	// background: $rock
	position: relative
	// will-change: auto

	&.left-secondary-opened
		flex: 0.0001 1 260px
		#left-secondary-body
			overflow-y: scroll
			transform: translate3d(0px, 0, 0)

	#left-secondary-body
	// 	overflow: hidden
	// 	transition: 0.3s
		position: absolute
		background: $rock
		height: 100vh
		width: 260px
		transform: translate3d(-260px, 0, 0)
		transition: transform .35s


	+md()
		overflow: visible
		#left-secondary-body
			transform: translate3d(-260px, 0, 0)
		&.left-secondary-opened
			flex: 0.0001 1 0px
			#left-secondary-body
				transform: translate3d(0px, 0, 0)


section#main
	overflow: hidden
	// contain: layout
	flex: 1
	display: flex
	flex-direction: column
	height: 100%
	position: relative

	+md()
		transition: .35s
		transform: translate3d(0px, 0, 0)
		&.left-secondary-opened
			transform: translate3d(260px, 0, 0)

#fakeTop
	box-shadow: 0px -1px 1px hsla(0, 0%, 88%, 1), 0px -5px 21px hsla(213, 32%, 77%, 1)

#top, #fakeTop
	// flex: 0 0 80px
	user-select: none
	position: absolute
	width: 100%
	height: 80px
	border-left: 1px solid #bcc0cd
	border-bottom: 1px solid #e7e9f3
	display: flex
	align-items: center
	background: $Extra_Light_Gray
	z-index: 11
	transition: 300ms 300ms
	// transition: transform 400ms
	// padding: 0 20px
	// overflow: hidden

	+sm()
		height: 60px
		// padding: 0

	&.nav-up
		transition: 300ms 300ms
		transform: translateY(-100%)


	& > button
		// transition: transform 200ms cubic-bezier(.71,0,.35,1.8) 300ms
		height: 80px
		width: 80px
		+sm()
			height: 60px
			width: 60px
		&:last-child
			border-left: 1px solid $Light_Gray
		// svg
		// 	width: 20px
		// 	fill: $Light_Silver

	& > div:nth-child(2)
		flex: 1



#router-view
	// flex: 1 1 auto
	overflow-y: auto
	width: 100%
	padding-top: 80px
	padding-bottom: 80px

	+sm()
		padding-top: 60px
	// & > div > .container
	// 	padding: 1rem 2rem
	// 	@media (max-width: $sm)
	// 		padding: 0 1rem
	// 		max-width: $sm

.router-item
	transition: all 300ms 200ms
	+sm()
		transition: all 300ms 600ms
	// *
	// 	font-size: 14px

.router-enter, .router-leave-to
	opacity: 0.0001
	transform: translateX(-30px)
	// position: absolute

.router-leave-to
	transition: 300ms

.list-item
	transition: all 400ms
	// display: block
	opacity: 1
	// width 100%
	// heigh: 40px
	// padding: 10px
	// background: #eee
	// margin-bottom: 1px
	// width 100%
	// margin-right: 10px;

.list-enter-active
	transition-delay: .5s

.list-enter, .list-leave-to
	opacity: 0.1
	transform: scale(0.2)
	// transform: translateX(30px)

.list-leave-active
	position: absolute
