


.el-button + .el-button
	margin-left: 0

.el-button
	border: none
	font-weight: bold
	&:hover, &:active, &:focus
		color: #fff

.el-button--circle
	border-radius: 50%
	height: 45px
	width: 45px
	padding: 9px
	+sm()
		font-size: 15px
		height: 35px
		width: 35px

.el-button--rounded
	border-radius: 20px

.btn-group
	display: flex
	& > button:first-child
		border-radius: 4px 0 0 4px
	& > button:last-child
		border-radius: 0 4px 4px 0
	&.rounded > button:first-child
		border-radius: 20px 0 0 20px
	&.rounded > button:last-child
		border-radius: 0 20px 20px 0

	button
		border-radius: 0



.el-dropdown
	& > .icon
		width: 21px
		height: 21px

.el-dropdown-menu
	padding: 0

.el-message-box
	max-width: 420px
	width: auto
	margin: 0 1em

.v-modal
	height: 100vh
	width: 100vw

.el-message-box__wrapper
	height: 100vh
	width: 100vw
